@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;

.asideItem {
  @include m.flex(row, flex-start);
  color: v.$text-color;
  font-size: 1.5em;
  gap: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    background: v.$button-bg;
    opacity: 100%;
    color: v.$title-color;
  }
  &.active {
    color: v.$title-color;
  }
  span {
    width: max-content;
  }

  @media (min-width: v.$large-display) {
    width: 100%;
  }
}
