@use "./variables" as v;

body {
  color: v.$text-color;
  font-family: v.$main-font;

  display: grid;
  place-items: center;
}

::selection {
  background-color: v.$text-color;
  color: v.$title-color;
}
::placeholder {
  color: v.$text-color;
  opacity: 1;
}
::-ms-input-placeholder {
  color: v.$text-color;
}
