$title-color: #ffffff;
$card-text-color: #ffffff85;
$text-color: #ffffff50;
$button-bg: #ffffff25;
$card-bg: #ffffff20;
$item-bg: #ffffff15;
$board-bg: #ffffff10;

// $title-color: #000000;
// $text-color: #00000050;
// $button-bg: #00000025;
// $card-bg: #00000020;
// $item-bg: #00000015;
// $board-bg: #00000010;

$main-font: "Fira Sans", sans-serif;
