$title-color: #ffffff;
$card-text-color: #ffffff85;
$text-color: #ffffff50;
$button-bg: #ffffff25;
$card-bg: #ffffff20;
$item-bg: #ffffff15;
$board-bg: #ffffff10;

$main-font: "Fira Sans", sans-serif;
