@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

$separation: 25px;

.aside {
  grid-area: aside;
  padding: $separation $separation 0 $separation;
  margin-bottom: $separation;
  ul {
    @include m.flex(column, flex-start, flex-start);
  }
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.asideItem {
  @include m.flex(row, flex-start);
  color: v.$text-color;
  font-size: 1.5em;
  gap: 15px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    background: v.$button-bg;
    opacity: 100%;
    color: v.$title-color;
  }
}
