@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

$separation: 25px;
$scrollbar: 10px;

.aside {
  grid-area: aside;
  padding: $separation 0 0 $separation;
  margin-bottom: $separation;
  margin-right: calc($separation - $scrollbar);
  ul {
    @include m.flex(column, flex-start, flex-start);
  }
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: $scrollbar;
    background-color: transparent;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: v.$board-bg;
    border-radius: 50px;
  }
}
