@use "../../../styles/variables" as v;
.grid {
  grid-area: main;
  background: v.$item-bg;
  margin: 0 25px 25px 0;
  border-radius: 10px;
  padding: 25px;

  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .cartica {
    background: v.$card-bg;
    border-radius: 10px;
    color: v.$title-color;
    display: grid;
    place-items: center;
    aspect-ratio: 1;
  }
}
