@use "../../../styles/variables" as v;

.title {
  display: grid;
  place-items: center;
  grid-area: title;
  font-size: 2em;
  font-weight: bold;
  color: v.$title-color;
  font-family: "Pacifico", cursive;
  h1 {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: v.$text-color;
    }
  }
}
