@use "../../../styles/variables" as v;

.title {
  display: grid;
  place-items: center;
  grid-area: title;
  font-size: 2em;
  font-weight: bold;
  color: v.$title-color;
  font-family: "Pacifico", cursive;
  h1 {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
  padding: 15px 0;

  @media (min-width: v.$large-display) {
    padding: 0;
  }
}
