@use "./styles/variables" as v;
@use "./styles//mixins" as m;

.panel {
  $spacing: 50px;
  height: calc(100vh - $spacing);
  width: calc(100vw - $spacing);
  max-width: 1300px;
  border: 2px solid v.$title-color;
  border-radius: 15px;
  background: v.$board-bg;
  backdrop-filter: blur(10px);

  display: grid;
  grid-template-areas:
    "title"
    "search"
    "aside"
    "main";
  grid-template-rows: auto;
  grid-template-columns: 100%;

  @media (min-width: v.$large-display) {
    $spacing: 125px;
    height: calc(100vh - $spacing);
    width: calc(100vw - $spacing);
    grid-template-areas:
      "title search"
      "aside main";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 300px 1fr;
  }
}
.info {
  position: fixed;
  z-index: 999;
  bottom: 10px;
  right: 10px;
  background: v.$board-bg;
  backdrop-filter: blur(10px);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background: v.$button-bg;
    color: v.$title-color;
  }
}
.popup {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #00000060;
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
  .modal {
    background: #ffffff;
    min-width: 300px;
    width: 50%;
    max-width: 500px;
    aspect-ratio: 1;
    border-radius: 65% 35% 70% 30% / 30% 67% 33% 70%;
    display: grid;
    place-items: center;
    .content {
      width: 70%;
      height: 70%;
      @include m.flex(column);
      gap: 25px;
      color: black;
      h3 {
        font-weight: 500;
      }
      .text {
        @include m.flex(column);
        gap: 10px;
        overflow-y: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
        p {
          font-size: 0.9rem;
          b {
            font-weight: 500;
          }
        }
      }
    }
  }
}
