@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.searchbar {
  grid-area: search;
  padding: 15px 25px;
  @include m.flex(row, space-between);
  .searchInput {
    @include m.flex(row);
    background: v.$item-bg;
    height: 45px;
    width: calc(100% - 200px);
    border-radius: 10px;
    transition: 0.3s;
    margin-right: 10px;
    padding-left: 15px;
    gap: 15px;
    input {
      width: calc(100% - 50px);
    }
    &:hover {
      color: v.$title-color;
    }
  }
  .toggleTheme {
    @include m.flex(row);
    cursor: pointer;
    background: v.$item-bg;
    border-radius: 10px;
    gap: 15px;
    width: 170px;
    min-width: 170px;
    height: 45px;
    transition: 0.3s;
    padding: 0 10px;
    span::selection {
      background: none;
    }
    &:hover {
      color: v.$title-color;
    }
  }

  @media (min-width: v.$large-display) {
    padding: 0;
    padding-right: 25px;
    .searchInput {
      width: 360px;
    }
  }
}
