@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.searchbar {
  grid-area: search;
  padding-right: 25px;
  @include m.flex(row, space-between);
  .searchInput {
    @include m.flex(row, space-between);
    background: v.$navitems-bg;
    height: 45px;
    width: 350px;
    border-radius: 10px;
    opacity: 50%;
    .searchIcon {
      width: 15%;
    }
    input {
      width: 85%;
    }
    &:hover {
      opacity: 100%;
    }
  }
  .toggleTheme {
    @include m.flex(row);
    cursor: pointer;
    background: v.$navitems-bg;
    opacity: 50%;
    border-radius: 10px;
    gap: 15px;
    width: 160px;
    height: 45px;
    span::selection {
      background: none;
    }
    &:hover {
      opacity: 100%;
    }
  }
}
